.box {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin-right: 5px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}