<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <p v-if="show">Beni görebilirsin</p>
        <p v-else>Beni görebilir misin acaba?</p>
        <button @click="show = !show">Göster - Gizle</button>
        <p v-if="sayi<10">Sayı 10'dan küçüktür</p>
        <p v-else-if="sayi>10">Sayı 10'dan büyüktür</p>
        <p v-else>Sayı 10'a eşittir</p>
        <hr>
        <button @click="showParagh = !showParagh">Göster-Gizle</button>
        <p v-show="showParagh">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perferendis odit,
            doloremque nesciunt facere quam odio, quo non doloribus, aliquid molestiae! Voluptatibus magnam quis
            deserunt ipsa expedita vel, nisi, officia?</p>
    </div>
    <script src="vue.js"></script>
</body>

</html>